<!DOCTYPE html>
<html>
  
  <style>
    h1 {text-align:center;}
    solar1 {width:615px;height:418px;position:fixed;top:109%;bottom:0%;left:0%;right:0;margin:auto;}
  </style>  
  
  <head>
    <title>Ham Radio Stuff</title>
    <h1>Ham Radio Stuff</h1>   
  </head>
  
  <body>
    <solar1><img src="http://www.hamqsl.com/solar101vhfpic.php"></a></a></solar1>
    <solar2></solar2>  
  </body>
</html>