<!DOCTYPE html>
<html>
  <style>
    h1 {text-align:center;}
    solar {width:615px;height:418px;position:fixed;bottom:0%;left:0%;right:0;margin:auto;}
  </style>  
  <p><span id = "caller"></span></p>
  <head>
    <title>Ham Radio Stuff</title>
    <h1>Ham Radio Stuff</h1>   
  </head>
  <body>
    <solar><img src="http://www.hamqsl.com/solar101vhfpic.php"></a></a></solar>
    <div><b>Most recent call since pageload/refresh from <a href="http://dxlite.g7vjr.org/">http://dxlite.g7vjr.org/</a>:</b></div><br>
    <div><b>Calling: </b><%=name%></div><br>
    <div><b>Freq: </b><%=freq%></div><br>
    <div><b>Dest: </b><%=dest%></div><br>
    <div><b>Time: </b><%=time%></div><br>
  </body>
</html>