<!DOCTYPE html>
<html>
<head>
<title>Hello World!</title>
</head>
<body>

<h1>Yeah... hi!</h1>
<p>Here's some lorem Ipsum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae neque sed est molestie mollis sit amet et purus. Cras mattis, odio ac tincidunt lobortis, mauris dui congue sem, a molestie sem velit eu nisl. Morbi elit nisl, tristique non lorem vitae, consectetur hendrerit metus. Vestibulum tortor nunc, hendrerit vel varius vitae, vestibulum mollis eros. Sed tempus ut lectus nec scelerisque. Vivamus faucibus et ante a faucibus. In a faucibus dui, eget congue massa. Etiam tincidunt mauris purus, vel venenatis dolor ullamcorper finibus. Quisque tellus lorem, tincidunt iaculis libero ac, feugiat varius diam. Sed tellus mi, sodales non nibh et, convallis finibus ante. Aenean pharetra placerat sapien eget maximus. Nunc tempor orci turpis, eget cursus est imperdiet vitae.</p>
<br>
<p>Also, Here's a button.</p>
<br>
<button onclick="location.href='/svg'" type="button">
    SVG</button>
<br>
</body>
</html> 