<!DOCTYPE html>
<html>
    <style>
        h1 {text-align:center; color:rgb(0, 88, 122)}
        greet {text-align:center}
        ham {position:absolute; bottom:50%; left:1%; right:0; margin:auto; }
    </style>    
    <head>
        <title>Hi There!</title>
    </head>
    <body>
        <h1>Hello!</h1>

        <greet><div>Welcome to my Website!</div></greet>
        <br>
        <ham><div><b>Ham Stuff: </b><a href="/ham">Ham Radio</a></div></ham>

    </body>
</html> 