<!DOCTYPE html>
<html lang='en'>
    <style>
        @import url('../opensans.css');
        h1 {text-align:center; color:rgb(0, 88, 122)}
        #greet {text-align:center}
        #ham {position:absolute; bottom:50%; left:1%; right:0; margin:auto}
        #threed {position: absolute; bottom:45%; left:1%; right:0; margin:auto}
        img {position:absolute; bottom:40%; left:1%;}
        body {font-family: 'Open Sans', sans-serif;}
    </style>    
    <head>
        
        <link rel="canonical" href="https://docked19.herokuapp.com"/>
        <meta name="google-site-verification" content="LPNuaDF3UYA-VfYBiyweUbh-i6HnAFN_MTEPDG-DpFc" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <title>Hi There!</title>

        <h1>Hello!</h1>

        <div id="greet">Welcome to my Website!</div>
        <br>    
        <div id="ham"><b>Ham Stuff: </b><a href="/ham">Ham Radio</a></div>
        <div id="threed"><b>3D!: </b><a href="/threed">3D</a></div>
        <img src='https://github.com/temp3242/jsstuff/workflows/Node.js%20Checks%20and%20Deploy/badge.svg' alt='Continuous Integration Status'>

    </body>
</html> 
