<!DOCTYPE html>
<html lang='en'>
    <head>
        
        <meta charset='UTF-8'>
        <link rel="stylesheet" href="/styles/index.css" type="text/css">
        <link rel="canonical" href="https://docked19.herokuapp.com">
        <meta name="google-site-verification" content="LPNuaDF3UYA-VfYBiyweUbh-i6HnAFN_MTEPDG-DpFc">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        
        <title>Arthur's Test Website</title>

        <h1>Hello!</h1>

        <div id="greet">Welcome to my Website!</div>

        <div id="links">    
            
            <strong>
                
            <p><a href="/ham">Ham Radio</a></p>
            
            <p><a href="/threed">3D</a></p>
            
            <p><a href="/weather">Weather</a></p>
            
            </strong>

            <img src='https://github.com/temp3242/jsstuff/workflows/Node.js%20Checks%20and%20Deploy/badge.svg' alt='Continuous Integration Status'>

        </div>

    </body>
</html> 
