<!DOCTYPE html>
<html>
  
  <style>
    h1 {text-align:center;}
    svg {width:400px;height:100px;position:absolute;top:0;bottom:5%;left:0%;right:0;margin:auto;}
    solar {width:615px;height:148px;position:absolute;top:0;bottom:55%;left:0;right:0;margin:auto;}
  </style>  
  
  <head>
    <title>Graphics!</title>
    <h1>Graphics!</h1>    
  </head>
  
  <body>
    <solar><img src="http://www.hamqsl.com/solar101vhfpic.php"></solar>

    <svg width="400" height="100">
      <rect width="400" height="100" style="fill:rgb(0, 128, 128);stroke-width:10;stroke:rgb(0, 153, 255)"/>
      <text fill="#ffffff" font-size="30" font-family="Overlock" x="145" y="60">Shapes!</text>
    </svg>

  </body>
</html>