<!DOCTYPE html>
<html lang='en'>

    <style>
        canvas {
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>

    <head>
        <meta charset='UTF-8' />
        <link rel="preload" href="/js/3d.js" as="script">
        <meta name="description" content="A 3d Torus (Ring or Donut) rotating, with the Ukraine State Aviation Museum on the background.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>3D!</title>
    </head>

    <body>

       <canvas id="bg"></canvas>
       <script type="module" src="/js/3d.js"></script>
       
        
    </body>

</html>