<!DOCTYPE html>
<html lang='en'>
    
    <head>

        <meta charset='UTF-8' />
        <link rel="preload" href="/styles/weather.css" as="style">
        <link rel="stylesheet" href="/styles/weather.css">
        <meta name="description" content="Weather Data of Jo찾o Pessoa, Brazil" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>

    <body>

        <title>Weather</title>

    <div id='header-image'>
        <div id='header-text'>
            <h1>Weather</h1>
        </div>
    </div>
    
    <div class=data>
        <br>
        <div><b>Weather at Jo찾o Pessoa, BR:</b></div>
        <br>
        <div><b>Temp: </b><%=temp%> 째C</div>
        <br>
        <div><b>Feels Like: </b><%=feel%> 째C</div>
        <br>
        <div><b>Humidity: </b><%=humi%>%</div>
        <br>
        <div><b>Pressure: </b><%=press%> hPa</div>
        <br>
    </div>

    <button onclick="location.href='/'" type="button">Back to Index</button>

    </body>

</html>