@font-face {
    font-family: 'Open Sans';
    font-weight:normal;
    src: url(../fonts/OpenSans.woff2) format('woff2');
    font-display:swap;
  }
@font-face {
    font-family: 'Open Sans';
    font-weight:bold;
    src: url(../fonts/OpenSansBold.woff2) format('woff2');
    font-display:swap;
  }
  
h1 {
  text-align: center; 
  color:rgb(0, 157, 219); 
  border: solid teal 3px; 
  border-radius: 30px;
  background-color: rgb(46, 46, 46); 
  padding: 5px; 
  width: 300px;
  position: absolute;
  margin-top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#greet {
  text-align: center;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#links {
  position:absolute;
  bottom:50%;
  transform: translateY(50%);
  margin-left: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
}